html{
  scroll-behavior: smooth;
}

body {
  background: rgba(0,0,0,1);
  font-family: 'Mali', cursive;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.button {
  background-color: #BC8F8F;
  border: solid 2px #000000;
  border-radius: 5px;
  color: #000000;
  font-family: 'Mali', cursive;
  font-size: 20px;
  margin: auto;
  padding: 5px 10px;
  text-decoration: none;
  transition: opacity 250ms ease;
}

.button:hover {
  opacity: .5;
  transition: opacity 250ms ease;
}

.button_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.caption {
  position: absolute;
  bottom: 0;
  color: #CD853F;
  background-color: #000000;
  border-top: solid 2px #000000;
  font-size: 12px;
  width: 100%;
}

.contact_box {
  background-color: #BDB76B;
  box-shadow: inset 15px 0 20px rgba(0, 0, 0, 0.5), inset -15px 0 20px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.delete_button{
  background-color: #000000;
  border: solid 1px #CD853F;
  border-radius: 5px;
  color: #fff;
  font-family: 'Mali', cursive;
  font-size: 15px;
  margin: auto;
  padding: 0 5px;
  text-decoration: none;
  transition: opacity .25s ease-in, border .25s ease-in;
}
.delete_button:hover{
  border: solid 1px #fff;
  opacity: 0.75;
  transition: opacity .25s ease-in, border .25s ease-in;
}

.desc_box {
  background-color: #F5F5F5;
  border-bottom: solid 2px #000000;
  border-top: solid 2px #000000;
  box-shadow: inset 5px 0px 10px rgba(0, 0, 0, 0.5), inset -5px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  margin: 20px;
  max-width: 50%;
  min-height: 300px;
  padding: 15px;
  text-align: left;
}

.display_issues {
  background-color: #999999;
  border: solid 1px #000000;
  margin: 15px auto;
  max-width: 85%;
  min-height: 150px;
  overflow: scroll;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
  border: solid 2px #000000;
  transition: opacity 500ms ease;
  -webkit-animation: mymove 5s infinite;
}

.first_months_box, .second_months_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.footer_box {
  box-shadow: inset 5px 0 20px rgba(0, 0, 0, 0.5), inset -5px 0 20px rgba(0, 0, 0, 0.5);
  background-color: #FFF8DC;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.graph_box {
  align-items: center;
  background-color: #BDB76B;
  border-bottom: solid 2px #000000;
  border-top: solid 2px #000000;
  box-shadow: inset 15px 0 30px rgba(0, 0, 0, 0.5), inset -15px 0 30px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 20px auto 20px auto;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  width: 80%;
}

.graph_display {
  background: linear-gradient(to top, #000000 -80%, #F5F5F5);
  border-bottom: solid 2px #000000;
  border-top: solid 2px #000000;
  box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.5), inset -5px 0 10px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 50% 50%;
  height: 450px;
  margin: auto;
  padding-bottom: 20px;
  position: relative;
  width: 800px;
}

.graph_button_box {
  border-top: solid 2px #000000;
  box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.5), inset -5px 0 10px rgba(0, 0, 0, 0.5);
  width: 800px;
  margin: auto;
  background-color: #F5F5F5;
  margin-top: 10px;
  padding-top: 10px;
}

.increment_line_0, .increment_line_50, .increment_line_100, .increment_line_150, .increment_line_200,
.increment_line_250, .increment_line_300, .increment_line_350 {
  position: absolute;
  width: 100%;
  border-bottom: solid 2px #000000;
  color: #FFFFFF;
  text-shadow: 0 2px 1px #000000;
  text-align: left;
}

.increment_line_0 {
  border-width: 5px;
  bottom: 45px;
}

.increment_line_50 {
  border-bottom-style: dashed;
  bottom: 95px;
}

.increment_line_100 {
  border-width: 5px;
  bottom: 145px;
}

.increment_line_150 {
  border-bottom-style: dashed;
  bottom: 195px;
}

.increment_line_200 {
  border-width: 5px;
  bottom: 245px;
}

.increment_line_250 {
  border-bottom-style: dashed;
  bottom: 295px;
}

.increment_line_300 {
  border-width: 5px;
  bottom: 345px;
}

.increment_line_350 {
  border-bottom-style: dashed;
  bottom: 395px;
}

.input {
  margin: 10px 0;
  max-width: 90%;
  min-width: 20px;
  padding: 5px;
}

.input_box {
  align-items: center;
  background-color: #FFF8DC;
  box-shadow: inset 15px 0 20px rgba(0, 0, 0, 0.5), inset -15px 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-top: 20px;
  padding: 15px;
  width: 100%;
}

.issues_box {
  align-items: center;
  background-color: #FFF8DC;
  box-shadow: inset 15px 0 20px rgba(0, 0, 0, 0.5), inset -15px 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.issues_box h2 {
  margin: 0;
  text-shadow: 0 1px 2px #000000;
}

.issue_desc{
  height: 100px;
  width: 90%;
}

.known_issues, .alter_issues {
  border-top: solid 2px #000000;
  border-bottom: solid 2px #000000;
  box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.5), inset -5px 0 10px rgba(0, 0, 0, 0.5);
  height: 300px;
  max-width: 50%;
  margin: 20px;
  background-color: #F5F5F5;
  padding: 10px;
}

.main_box {
  align-items: center;
  background-color: #BDB76B;
  box-shadow: inset 15px 0 20px rgba(0, 0, 0, 0.5), inset -15px 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.nav_box {
  background-color: #FFF8DC;
  border-bottom: solid 2px #000000;
  border-top: solid 2px #000000;
  box-shadow: inset 5px 0 20px rgba(0, 0, 0, 0.5), inset -5px 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 5px;
  width: 100%;
}

.nav_box a {
  color: #000000;
  font-size: 150%;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 2px #000000;
  transition: opacity 250ms ease;
}

.nav_box a:hover {
  opacity: .5;
  transition: opacity 250ms ease;
}

.register_box, .login_box {
  border-top: solid 2px #000000;
  border-bottom: solid 2px #000000;
  background-color: #F5F5F5;
  box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.5), inset -5px 0 10px rgba(0, 0, 0, 0.5);
  max-width: 75%;
  padding: 10px;
}

.search_box {
  margin-bottom: 5px;
  margin-top: 5px;
}

.social_box {
  text-align: center;
  margin-top: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 1px 2px #000000;
}

.titan {
  border: solid 2px #000000;
  background: url('images/titan.png');
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 200px;
  position: relative;
  width: 250px;
}

/* GRAPH BARS SETTINGS AND COLORS */
#jan, #feb, #mar, #apr, #may, #jun, #jul, #aug, #sep, #oct, #nov, #dec {
  box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.5), inset -5px 0 10px rgba(0, 0, 0, 0.5);
  border: solid 2px #000000;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  border: solid 2px #000000;
  margin-bottom: 25px;
  position: absolute;
  width: 40px;
  height: 0;
  color: #FFFFFF;
  text-shadow: 0 2px 1px #000000;
}

#jan {
  background: #FF0000;
  margin-left: 10px
}

#feb {
  background: #0000FF;
  margin-left: 75px;
}

#mar {
  background: #008000;
  margin-left: 140px;
}

#apr {
  background: #800000;
  margin-left: 208px;
}

#may {
  background: #FFA500;
  margin-left: 275px;
}

#jun {
  background: #FF00FF;
  margin-left: 338px;
}

#jul {
  background: #FF1493;
  margin-left: 8px;
}

#aug {
  background: #DAA520;
  margin-left: 73px;
}

#sep {
  background: #F0E68C;
  margin-left: 140px;
}

#oct {
  background: #7CFC00;
  margin-left: 207px;
}

#nov {
  background: #00CED1;
  margin-left: 273px;
}

#dec {
  background: #B0C4DE;
  margin-left: 337px;
}

@-webkit-keyframes mymove {
  50% {
    -webkit-transform: rotate(180deg);
  }
}

.fa:hover {
  opacity: 0.7;
  transition: opacity 500ms ease;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.italic {
  font-size: 15px;
}

.assignee {
  width: 400px;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky+.main_box, .sticky+.graph_box {
  margin-top: 70px;
}

@media (max-width: 1000px){
  .graph_box{
    width: 100%;
  }
  .graph_display{
    width: 100%;
  }
}

@media(max-width: 700px){
  .issues_box {
    flex-direction: column;
    justify-content: center;
  }

  .known_issues, .alter_issues {
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
    box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.5), inset -5px 0 10px rgba(0, 0, 0, 0.5);
    height: 300px;
    margin: 10px 0;
    max-width: 100%;
    padding: 10px;
  }
}

@media(max-width: 500px){
  .button {
    font-size: 16px;
    padding: 5px;
  }

  .contact_box {
    padding: 5px;
  }

  .desc_box{
    font-size: 16px;
    margin: 0 0 10px 0;
    max-width: 100%;
    text-align: center;
  }

  .input_box{
    padding: 15px 0;
  }

  .main_box{
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
  }

  .register_box, .login_box{
    max-width: 100%;
  }
}
